<section id="products-section" class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @for (product of buyableProducts(); track $index)
            {
            <div class="col mb-5">
                <div class="card h-100">

                    <img class="card-img-top rounded" src="{{ product.img }}" [alt]="product.name" />

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">
                                {{ product.name }}
                            </h5>
                            ${{ product.price }}
                        </div>
                    </div>

                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col text-left">
                                Available:{{ product.availableAmount }}
                            </div>
                            <div class="col text-right">
                                Min order:{{ product.minOrderAmount }}
                            </div>
                        </div>
                    </div>

                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="input-group mb-3">
                            <input class="form-control" id="quantity-{{product.id}}" type="number" [min]="0"
                                [(ngModel)]="product.amount" />
                            <button class="btn btn-primary" type="button" (click)="addToCart(product)"
                                [disabled]="!isAmountValid(product.id, product.amount)">
                                Add to Cart
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            }
        </div>
    </div>
</section>